@model IEnumerable<CRDLPROJET.Models.user>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Layout/_Default.cshtml";
}
@Html.Raw(TempData["msg"])
<div class="col-sm-9 col-sm-offset-3 col-lg-10 col-lg-offset-2 main" style="background-color:aquamarine">
    <h1 style="text-align:center"><strong><u>Liste des Utilisateurs</u><br /></strong></h1>
    @*<p class="fa fa-plus btn btn-warning">
            @Html.ActionLink("Ajouter Utilisateur", "Create")
        </p>*@
    <table id="example" class="table table-striped table-bordered" cellspacing="0" width="98%" style="margin-left:1%">
        <thead>
            <tr>
                @*<th>
                        #No
                    </th>*@
                <th>
                    Nom Utilisateur
                </th>
                <th>
                    PassWord
                </th>
                <th>
                    Email
                </th>
                <th>
                    Nom Profil
                </th>
                <th>
                    Date
                </th>

                <th>Action</th>
            </tr>
        </thead>
        <tbody>

            <tr>
                <td>
                    @Session["username"]

                </td>
                <td>
                    @Session["password"]

                </td>
                <td>
                    @Session["email"]
                </td>
                <td>
                    @Session["profilename"]
                </td>
                <td>
                    @Session["datein"]
                </td>

                <td>
                    @Html.ActionLink("Modifier", "Edit1", new { id = @Session["ID"] }, new { @class = "btn btn-sm btn-primary fa fa-pencil" })
                    @*@Html.ActionLink("Details", "Details", new { id = @Session["ID"] }, new { @class = "btn btn-sm btn-success fa fa-trach" })*@
                </td>
            </tr>

        </tbody>
    </table>
    <br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br>
    <br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br>
    <br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br>

</div>
