@model CRDLPROJET.Models.historiqueprix

@{
    ViewBag.Title = "Edit";
    Layout = "~/Views/Layouts/_Default.cshtml";
}
@Html.Raw(TempData["msg"])

<div class="col-sm-9 col-sm-offset-3 col-lg-10 col-lg-offset-2 main">
    <div class="col-lg-12" style="background-color:aquamarine">
        <div class="panel panel-default" style="background-color:aquamarine">

            <div class="panel-body" style="background-color:aquamarine">
                <div class="col-md-6" style="background-color:aquamarine">


                    @using (Html.BeginForm())
                    {
                        @Html.AntiForgeryToken()

                        <div class="form-horizontal">
                            <h4 style="text-align:center"><strong>Historique Prix</strong></h4>
                            <hr />
                            @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                            @Html.HiddenFor(model => model.historiqueprixID)

                            <div class="form-group">
                                @Html.LabelFor(model => model.produitID, "Produit", htmlAttributes: new { @class = "control-label col-md-2" })
                                <div class="col-md-10">
                                    @Html.DropDownList("produitID", null, htmlAttributes: new { @class = "form-control" })
                                    @Html.ValidationMessageFor(model => model.produitID, "", new { @class = "text-danger" })
                                </div>
                            </div>

                            <div class="form-group">
                                @Html.LabelFor(model => model.prixdeventeunitaire, "Prix Unitaire", htmlAttributes: new { @class = "control-label col-md-2" })
                                <div class="col-md-10">
                                    @Html.EditorFor(model => model.prixdeventeunitaire, new { htmlAttributes = new { @class = "form-control" } })
                                    @Html.ValidationMessageFor(model => model.prixdeventeunitaire, "", new { @class = "text-danger" })
                                </div>
                            </div>

                            <div class="form-group">
                                @Html.LabelFor(model => model.datemodification, "Date", htmlAttributes: new { @class = "control-label col-md-2" })
                                <div class="col-md-10">
                                    @Html.EditorFor(model => model.datemodification, new { htmlAttributes = new { @class = "form-control" } })
                                    @Html.ValidationMessageFor(model => model.datemodification, "", new { @class = "text-danger" })
                                </div>
                            </div>

                            <div class="form-group">
                                <div class="col-md-offset-2 col-md-10">
                                    <input type="submit" value="Sauvegarder" class="btn btn-primary" />
                                </div>
                            </div>
                        </div>
                    }

                    <div class="btn btn-warning">
                        @Html.ActionLink("Retour", "Index", null, new { style = "text-decoration:none;" })
                    </div>
                </div>
            </div>
        </div>
    </div>
    <br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br>
    <br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br>
    <br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br>

</div>
