@model CRDLPROJET.Models.produit

@{
    ViewBag.Title = "Delete";
    Layout = "~/Views/Layouts/_Default.cshtml";
}
@Html.Raw(TempData["msg"])
<div class="col-sm-9 col-sm-offset-3 col-lg-10 col-lg-offset-2 main">
    <div class="col-lg-12" style="background-color:aquamarine">
        <div class="panel panel-default" style="background-color:aquamarine">
            @*<div class="panel-heading" style="background-color:aquamarine"></div>*@
            <div class="panel-body" style="background-color:aquamarine">
                <div class="col-md-6" style="background-color:aquamarine">
                    <h3>Are you sure you want to delete this?</h3>
                    <div>
                        <h4 style="text-align:center"><strong>Produit</strong></h4>
                        <hr />
                        <dl class="dl-horizontal">
                            <dt>
                                @Html.DisplayNameFor(model => model.nomproduit)
                            </dt>

                            <dd>
                                @Html.DisplayFor(model => model.nomproduit)
                            </dd>

                            <dt>
                                @Html.DisplayNameFor(model => model.prixdeventeunitaire)
                            </dt>

                            <dd>
                                @Html.DisplayFor(model => model.prixdeventeunitaire)
                            </dd>

                            <dt>
                                @Html.DisplayNameFor(model => model.Quantite)
                            </dt>

                            <dd>
                                @Html.DisplayFor(model => model.Quantite)
                            </dd>

                            <dt>
                                @Html.DisplayNameFor(model => model.prixunitaireachat)
                            </dt>

                            <dd>
                                @Html.DisplayFor(model => model.prixunitaireachat)
                            </dd>

                            <dt>
                                @Html.DisplayNameFor(model => model.dateentree)
                            </dt>

                            <dd>
                                @Html.DisplayFor(model => model.dateentree)
                            </dd>

                            <dt>
                                @Html.DisplayNameFor(model => model.categorie.nomcategorie)
                            </dt>

                            <dd>
                                @Html.DisplayFor(model => model.categorie.nomcategorie)
                            </dd>

                            <dt>
                                @Html.DisplayNameFor(model => model.fournisseur.nomfournisseur)
                            </dt>

                            <dd>
                                @Html.DisplayFor(model => model.fournisseur.nomfournisseur)
                            </dd>

                        </dl>

                        @using (Html.BeginForm())
                        {
                            @Html.AntiForgeryToken()

                            <div class="form-actions no-color">
                                <input type="submit" value="Delete" class="btn btn-danger" /> |
                                @Html.ActionLink("Retour", "Index", null, new { style = "text-decoration:none;" })
                            </div>

                        }
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
